.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
demo/backend/checkpoints/*.pt
sam2_logs/*
tmp/*
tmp_trans/*
grad_graph/*
*.gz
*.bak
new_ultralytics/
old_ultralytics/

set_class/
query_img.jpg
result.json
yolov8m-world.pt
tmp*/

v2vdet/.idea/
v2vdet/.vscode/
v2vdet/ckpt/
v2vdet/create_dataset/
v2vdet/DATASET/
v2vdet/inference/
v2vdet/ipynb/
v2vdet/Museum_Sample/
v2vdet/images/
v2vdet/training_result/
v2vdet/v2v_training_result/
v2vdet/validation/result/
v2vdet/wandb/
v2vdet/runs/
v2vdet/ultralytics
v2vdet/ultralytics_160
v2vdet/transformers
*.pt
*.log
*.zip
*.jpg
*.json
*.pyc
__pycache__/
*.pkl
*.png
*.pkl
*.nfs*
*.tar
*.tar.gz
*.ts