.idea/
.vscode/
ckpt/
create_dataset/
DATASET/
inference/
ipynb/
Museum_Sample/
images/
training_result/
v2v_training_result/
validation/result/
wandb/
runs/
ultralytics
ultralytics_160
transformers
*.pt
*.log
*.zip
*.jpg
*.json
*.pyc
__pycache__/
*.pkl
*.png
*.pkl
*.nfs*
*.tar
*.tar.gz
*.ts